doctrine_mongodb:
    connections:
        default:
            server: '%env(resolve:MONGODB_URL)%'
            options: {}
    default_database: '%env(resolve:MONGODB_DB)%'
    document_managers:
        default:
            auto_mapping: true
            mappings:
                App\Domain:
                    type: xml
                    dir: '%kernel.project_dir%/src/Infrastructure/Persistence/Doctrine/Mappings'
                    prefix: 'App\Domain'

when@prod:
    doctrine_mongodb:
        document_managers:
            default:
                metadata_cache_driver:
                    type: service
                    id: doctrine_mongodb.system_cache_pool

    framework:
        cache:
            pools:
                doctrine_mongodb.system_cache_pool:
                    adapter: cache.system
