/vendor/
composer.lock

###> symfony/framework-bundle ###
/.env.local
/public/bundles/
/var/
###< symfony/framework-bundle ###
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> qossmic/deptrac-shim ###
/.deptrac.cache
###< qossmic/deptrac-shim ###
