x-app-template: &app-template
    image: cqrs-example_app:latest
    build:
        context: .
        dockerfile: docker/php/Dockerfile
        args:
            BUILD_WITH_XDEBUG: 1
    working_dir: /var/www
    environment:
        TIMEZONE: Europe/Kiev
        MESSENGER_TRANSPORT_DSN: amqp://guest:guest@queue:5672/%2f/messages
        DATABASE_URL: pgsql://app:!ChangeMe!@database:5432/app?serverVersion=18&charset=utf8
        MONGODB_URL: mongodb://mongo:27017
        MONGODB_DB: symfony
        PHP_ENABLE_XDEBUG: 1
    volumes:
        - .:/var/www:cached
    depends_on:
        - database
        - mongo
        - queue
    networks:
        - webnet

services:
    app:
        << : *app-template
        ports:
            - "8000:8000"
        entrypoint: /usr/local/bin/php -S 0.0.0.0:8000 -t /var/www/public/ /var/www/public/index.php

    worker:
        <<: *app-template
        entrypoint: /usr/local/bin/php
        command: /var/www/bin/console messenger:consume -vv async

    queue:
        image: rabbitmq:alpine
        networks:
            - webnet

    mongo:
        image: mongo
        networks:
            - webnet

    database:
      image: postgres:${POSTGRES_VERSION:-18}-alpine
      environment:
        POSTGRES_DB: ${POSTGRES_DB:-app}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
        POSTGRES_USER: ${POSTGRES_USER:-app}
      volumes:
          - db_data:/var/lib/postgresql/data:rw
      healthcheck:
        test: [ "CMD", "pg_isready", "-d", "${POSTGRES_DB:-app}", "-U", "${POSTGRES_USER:-app}" ]
        timeout: 5s
        retries: 5
        start_period: 60s
      networks:
        - webnet

networks:
    webnet:

volumes:
    db_data: {}
