parameters:
    env(MONGODB_URL): ''
    env(MONGODB_DB): ''

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'

    App\CommandHandler\:
        namespace: App\Application\CommandHandler\
        resource: '%kernel.project_dir%/src/Application/CommandHandler/*'
        autoconfigure: false
        tags:
            - { name: messenger.message_handler, bus: command.bus }

    App\EventHandler\:
        namespace: App\Application\EventHandler\
        resource: '%kernel.project_dir%/src/Application/EventHandler/*'
        autoconfigure: false
        tags:
            - { name: messenger.message_handler, bus: event.bus }

    App\QueryHandler\:
        namespace: App\Application\QueryHandler\
        resource: '%kernel.project_dir%/src/Application/QueryHandler/*'
        autoconfigure: false
        tags:
            - { name: messenger.message_handler, bus: query.bus }

    App\ProcessManager\:
        namespace: App\Application\ProcessManager\
        resource: '%kernel.project_dir%/src/Application/ProcessManager/*'
        autoconfigure: false
        tags:
            - { name: messenger.message_handler, bus: event.bus }
