name: PHP Unitest

on:
    push

jobs:
    tests:
        runs-on: ubuntu-latest
        services:
            postgres:
                image: postgres:18
                env:
                    POSTGRES_USER: app
                    POSTGRES_PASSWORD: "!ChangeMe!"
                    POSTGRES_DB: app
                ports:
                    - 5432:5432
                options: >-
                    --health-cmd pg_isready
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5

        steps:
            - uses: actions/checkout@v5

            - name: Set up PHP
              uses: shivammathur/setup-php@master
              with:
                  coverage: "none"

            - uses: ramsey/composer-install@v2

            - name: PHPUnit tests
              run: vendor/bin/phpunit
